[submodule "simulator"]
	path = simulator
	url = https://github.com/kipr/simulator.git
[submodule "ivygate"]
	path = ivygate
	url = https://github.com/kipr/ivygate.git
[submodule "libwallaby"]
	path = libwallaby
	url = https://github.com/kipr/libwallaby
